<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tiere</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addNewItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="segmentSelection" (ionChange)="filterChanged($event)">
      <ion-segment-button value="">
       {{'ANIMALS.MENU.ALL' | translate}}
      </ion-segment-button>
      <ion-segment-button value="female">
        {{'ANIMALS.MENU.COW' | translate}}
      </ion-segment-button>
      <ion-segment-button value="male">
        {{'ANIMALS.MENU.BULL' | translate}}
      </ion-segment-button>
      <ion-segment-button value="babies">
        {{'ANIMALS.MENU.CALVES' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="spinner-container" *ngIf="page.isLoading">
    <ion-spinner style="text-align: center;"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-thumbnail item-start>
        <img src="assets/imgs/animal-{{getTypeForImage(item)}}_image.png">
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <p>{{ 'ANIMALS.GENDERS.' + item.gender | translate }} • *{{ item.dateOfBirth | date:'dd.MM.yyyy'}}</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
