<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create event</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="eventForm">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-thumbnail item-start *ngIf="table">
            <img [src]="getEventImage()">
          </ion-thumbnail>
          <ion-thumbnail item-start *ngIf="!table">
            <div class="no-img-container">
              NONE
            </div>
          </ion-thumbnail>
        </ion-col>
        <ion-col col-8>
          <ion-item>
            <ion-label floating [ngClass]="{'error-input': eventForm.get('title').invalid && eventForm.get('title').touched}">
              {{"EVENTS.FORM.TITLE" | translate}} *
            </ion-label>
            <ion-input [placeholder]="('EVENTS.FORM.TITLE' | translate) + ' *'" type="text"
                       formControlName="title"
                       [ngClass]="{'error-input': eventForm.get('title').invalid && eventForm.get('title').touched}"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating
                       [ngClass]="{'error-input': eventForm.get('eventDate').invalid && eventForm.get('eventDate').touched}">
              {{"EVENTS.FORM.DATE" | translate}} *
            </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD HH:mm"
                          [ngClass]="{'error-input': eventForm.get('eventDate').invalid && eventForm.get('eventDate').touched}"
                          max="2030-12-31" [min]="getToday()"
                          formControlName="eventDate"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>{{"EVENTS.FORM.DESCRIPTION" | translate}}</ion-label>
            <ion-textarea rows="6" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


  </form>

</ion-content>
