page-home {

  .home-button-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .home-button{
    flex: 1 1 290px;
    margin: 0 10px 20px;
    display: block;
    text-align: center;
    height: 140px;
    background-position: center;
    position: relative;
    border: 1px solid #cacaca;
    background-size: 370px;
    background-repeat: no-repeat;
    background-color: black;

    .home-button-label{
      display: block;
      background: rgba(255, 255, 255, 0.78);
      padding: 5px 10px;
      position: absolute;
      bottom: 7px;
      left: 0;
      color: #292929;
      width: 70%;
      text-align: left;
      font-size: 20px;
      box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.58);
    }

    &.home-button-ANIMALS{
      background-image: url("../assets/imgs/home-button-cows.jpg");
    }

    &.home-button-AREAS{
      background-image: url("../assets/imgs/home-button-areas.jpg");
    }

    &.home-button-VEHICLES{
      background-image: url("../assets/imgs/home-button-vehicles.jpg");
    }

    &.home-button-SETTINGS{
      background-image: url("../assets/imgs/home-button-settings.jpg");
    }
    &.home-button-EVENTS{
      background-image: url("../assets/imgs/home-button-events.jpg");
    }
  }
}
