<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="spinner-container" *ngIf="isLoading">
    <ion-spinner style="text-align: center;"></ion-spinner>
  </div>


  <form [formGroup]="form">
    <ion-list>
      <p *ngIf="errorMessage" class="error-input error-msg">{{errorMessage}}</p>
      <ion-item [ngClass]="{'error-input': isInvalidFormField('title')}">
        <ion-label fixed>{{ 'EVENTS.FORM.TITLE' | translate }}</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item [ngClass]="{'error-input': isInvalidFormField('date')}">
        <ion-label floating>
          {{"EVENTS.FORM.DATE" | translate}} *
        </ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD HH:mm"
                      [ngClass]="{'error-input': isInvalidFormField('date')}"
                      max="2040-12-31"
                      formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item [ngClass]="{'error-input': isInvalidFormField('description')}">
        <ion-label floating>{{"EVENTS.FORM.DESCRIPTION" | translate}}</ion-label>
        <ion-textarea rows="3" formControlName="description"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>


  <ion-item *ngFor="let user of teamUsers">
    <ion-label>{{user.email}}</ion-label>
    <ion-checkbox [(ngModel)]="user.checked" [disabled]="user.disabled"></ion-checkbox>
  </ion-item>


  <button ion-button color="primary" block
          [disabled]="false"
          (click)="createNotification()">{{ 'NOTIFICATIONS.FORM.CREATE' | translate }}
  </button>


</ion-content>
