<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>#[Tier-Nummer]</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-thumbnail item-start>
        <img src="assets/imgs/cow_image.png">
      </ion-thumbnail>
      <h2>{{item.title}}</h2>
      <p>{{ item.note }} • 1988</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
