<div class="events">
  <h3>
    Ereignisse
    <ion-icon name="add-circle" color="primary" class="add-new-event" (click)="isCreatingNewEvent = !isCreatingNewEvent"></ion-icon>
  </h3>

  <ion-grid>
    <ion-row *ngIf="isCreatingNewEvent">
      <ion-col col-4>
        <ion-datetime placeholder="Datum" displayFormat="DD.MM.YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
      </ion-col>
      <ion-col col-4>
        <ion-input placeholder="Was" type="text"></ion-input>
      </ion-col>
      <ion-col col-4>
        <ion-input placeholder="Resultat" type="text"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let event of item.events">
      <ion-col col-4>
        {{ event.dateCreated | date:'dd.MM.yyyy' }}
      </ion-col>
      <ion-col col-4>
        {{ event.name }}
      </ion-col>
      <ion-col col-4>
        {{ event.description }}
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
